# Environment
.env

# Go
backend/tmp/
backend/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Tauri & Keys
frontend/src-tauri/target/
frontend/.env.production
*.zip
*.key
*.key.pub
.go-cache/
